<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        @if (Request.IsAuthenticated )
        {
            <li id="MnHome">
                <a href="~/Home/"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li id="MnRole">
                <a href="~/Role/"><i class="fa fa-fw fa-male"></i> Role</a>
            </li>
            <li id="MnUser">
                <a href="~/Account/"><i class="fa fa-fw fa-users"></i> User</a>
            </li>
            <li id="MnBranch">
                <a href="~/Branch/"><i class="fa fa-fw fa-table"></i> Branch</a>
            </li>
            <li id="MnRegularGroup">
                <a href="~/RegularGroup/"><i class="fa fa-fw fa-flag"></i> Regular Group</a>
            </li>
            <li id="MnRegularQuiz">
                <a href="~/RegularQuiz/"><i class="fa fa-fw fa-key"></i> Regular Quiz</a>
            </li>
        }

        @if (Request.IsAuthenticated && User.IsInRole("User"))
        {
            <li id="MnCashflow">
                <a href="~/CashCard/"><i class="fa fa-fw fa-calculator"></i> Cash Card Report</a>
            </li>
        }

        @*<li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Regular  <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="/QuizGroup/">Regular Group</a>
                    </li>
                    <li>
                        <a href="/Quiz/">Regular Quiz</a>
                    </li>
                </ul>
            </li>*@
        @if (Request.IsAuthenticated && User.IsInRole("Supervisor"))
        {
            <li id="MnCashflowValidation">
                <a href="~/CashflowValidation/"><i class="fa fa-fw fa-check"></i> Cash Card Validation </a>
            </li>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Officer"))
        {
            <li id="MnCutoff">
                <a href="~/Cutoff/"><i class="fa fa-fw fa-desktop"></i> Cut Off </a>
            </li>
        }
      
        @if (Request.IsAuthenticated)
        {




    <li >
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Reporting  <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li id="MnReportPerBranch">
                <a href="~/CutOffPerBranchReport/"><i class="fa fa-fw fa-home"></i> Report Per Branch</a>
            </li>

            <li id="MnReportSummary">
                <a href="~/ReportSummary/"><i class="fa fa-fw fa-home"></i> Report Summary</a>
            </li>
            
        </ul>
    </li>
        }
</div>
