@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Citylink
        </h1>
        
    </div>
</div>
<div class="jumbotron">
    <h1>Welcome To Cashcard</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cash In</h2>
       
        Bla-bla-bla
            
    </div>
    <div class="col-md-4">
        <h2>Cash Out Regular</h2>
        Bla-bla-bla
    </div>
    <div class="col-md-4">
        <h2>Cash Out Iregular</h2>
        Bla-bla-bla
    </div>
</div>