@model CashCard.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>bootstrap datepicker examples</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datepicker3.css")">
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <input type="text" placeholder="click to show datepicker" id="example1">
        </div>
        <br/>
        <div class="hero-unit" id="abc">
            <input type="text" placeholder="click to show datepicker" id="example2">
        </div>
    </div>
    <!-- Load jQuery and bootstrap datepicker scripts -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" ></script>
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {

            $('#example1').datepicker({
                format: "dd/mm/yyyy"
            });

            $('#example2').datepicker({
                format: "dd/mm/yyyy",
                orientation: "below"
            });

        });
    </script>
</body>
</html>

