@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role List";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tbl" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundle/datatable")
    <script type="text/javascript">

        var tbl = $("#tbl").DataTable(
        {
            "searching": true,
            "lengthChange": false
        });

     

    </script>
}
